@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body, .default-text {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background-image: url("libraryBg.jpeg");
}

#page {
    display: grid;
    grid-template-areas: 
    "div"
    "button";
    justify-content: center;
}

.login {
    background-color: rgba(255, 249, 249, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 550px;
    margin-top: 30px;
}

/*  */
/* Register box styling needs help also confirm password width */
/*  */

/* Words Against Humanity Header */
#header-nav {
    display: flex;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
}
h1.title {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    width: 500px;
}

#user-welcome {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px #000000;
}

/* Please Log In */
h2 {
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    text-shadow: 1px 4px 4px #FFFFFF;
}
/* Error message styling */
#error-message {
    text-align: center;
    color: rgb(250, 4, 4)
}

/* Labels and inputs - using grid layout */
.label-grid{
    display: grid;
    grid-template-areas:
        "username-label username-input"
        "password-label password-input"
        "confirm-password-label confirm-password-input";
    grid-template-columns: 30% 70%;
}

label[for=username]{
    grid-area: username-label;
}
label[for=password]{
    grid-area: password-label;
}
label[for=confirmpassword]{
    grid-area: confirm-password-label;
}

label[for=username], label[for=password], label[for=confirmpassword]{
    height: 58px;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    margin-right: 20px;
    margin-top: 32px;
}

input[type=text]{
    grid-area: username-input;
}
input[type=password]{
    grid-area: password-input;
}
input[name=confirmpassword]{
    grid-area: confirm-password-input;
}
input[name=username], input[name=password], input[name=confirmpassword]{
    border: none;
    height: 55px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* Log in using flexbox and center align */
.flex-center{
    display: flex;
    justify-content: center;
}

.submit-button{
    background: none;
    border: none;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    text-shadow: 1px 4px 4px #FFFFFF;
    margin-bottom: 20px;
}

.buttons:hover {
    cursor: pointer;
}

.register {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    background: none;
    border: none;
    margin-top: 30px;
}
#logout {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px #000000;
    background: none;
    border: none;
}


/* Landing page styling */

#story-div {
    width: 550px;
    height: 484px;
    left: 252px;
    top: 208px;
    overflow: scroll;
    padding: 0;
    background: rgba(196, 196, 196, 0.8);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#story-paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    margin: 5px;
    color: #FFFFFF;
    text-shadow: 1px 3px 3px #000000;  
}
#start-button-div {
    grid-area: "div";
    display: flex;
    justify-content: center;
    margin: 20px;
}

.gamebuttons {
    grid-area: "button";
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px #000000;
    width: 250px;
    height: 72px;
    background: #FB7171;
}
#user-welcome {
    border: red;
}

/* Game Page */

#game-page {
    display: grid;
    grid-template-areas:
        "rules story turn"
        "rules1 story1 turn1";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
}

#rules-div {
    grid-area: rules;
    width: 249px;
    height: 326px;
    left: 50px;
    top: 225px;
    margin: 20px;
    background: rgba(196, 196, 196, 0.8);
}

#rules-head {
    grid-area: rules;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px #000000;
}

#steps {
    grid-area: rules;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px #000000;
}

#story-box {
    grid-area: story;
    width: 815px;
    height: 528px;
    left: 335px;
    top: 225px;
    margin: 20px;
    background: rgba(196, 196, 196, 0.95);
}

#phrase {
    grid-area: story;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.75);
}

#story {
    grid-area: story;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.75);
}

#endgame {
    grid-area: rules1;
    margin: 20px;
    width: 249px;
    height: 72px;
    left: 50px;
    top: 681px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 4px 4px #000000;
    background: #FB7171;
}

#user-input {
    grid-area: story1;
    width: 815px;
    margin: 20px;
    background: #FFFFFF;
}

#word-submit-form {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    padding-top: 20px;
    text-align: center;
    color: #000000;
}

#next-word[type=text] {
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Josefin Sans', sans-serif;
    color: #FB7171;
}

#enter[type=submit] {
    all: unset;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
	color: lightslategray;
	font: inherit;
	cursor: pointer;
}

#enter[type=submit]:focus {
    outline: #FB7171;
}


#whoseturn {
    grid-area: turn;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Game Over Page */
h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#flex {
    display: flex;
    flex-direction: column;
    align-items: center
}
